#calendar {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.0rem;
    font-weight: normal;
}

.fc-header-toolbar {


    border-radius: 8px;
}

.fc-header-toolbar .fc-button {


    border-radius: 4px;
    padding: 10px;
    font-weight: normal;
}

.fc-header-toolbar .fc-button:hover {
    background-color: #f57c42;
}

.fc-daygrid-day {
    border-radius: 5px;
    transition: background-color 0.3s;
}

.fc-daygrid-day:hover {
    background-color: #f0f0f0;
}

.fc-daygrid-day-number {
    font-weight: normal;
    font-size: 1.0rem;
    color: #2d87f0;
}
@media (max-width: 768px) {
    #calendar {
        min-height: 400px; /* Adjust height for tablets */
        padding: 15px;
    }
}

@media (max-width: 576px) {
    #calendar {
        min-height: 300px; /* Adjust height for smaller screens */
        padding: 10px;
    }
}
