*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('image/34.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}